<!doctype html>
<head>
    <title>Dead Man Switch : Sign In to DMS website</title>
    <link rel="stylesheet" href="/assets/style/libs/mini-lite.min.css">
</head>
<body>
    <%- include('../partials/header'); -%>
  <p>
If you need to contact us (For abuse or anything else) please use : 
<br/>
contact@example.tld
<br/>
GPG_KEY can be find here : https://example.tld/files/key.asc
    </p>
            <footer>
    <p>
        <a href="/privacy">Privacy</a> / <a href="/canary.txt">Transparency</a>
    </p>
    </footer>
</body>