<!doctype html>
<head>
    <title>DMS : User </title>
    <link rel="stylesheet" href="/assets/style/libs/mini-lite.min.css">
</head>
<body>
    <%- include('../partials/header'); -%>
    <p>
        Welcome <%= user.name %>.
    </p>

    <p>
        You can change you cron here.
    </p>

    <p>
        Receiver : [...]
    </p>
    <p>
        Email to send '...'
    </p>
    
    <form method="post" action="/logout"> 
        <input type="submit" value="Log Out" />
    </form>
            <footer>
    <p>
        <a href="/privacy">Privacy</a> / <a href="/canary.txt">Transparency</a>
    </p>
    </footer>
</body>
